{% extends 'base.html.twig' %}


{% block body %}

	<h1 class="display-4 text-center">
		Back-Office | Création d'un article
	</h1>

	{{form_start(formArticle,{'attr':{'class':'col-md-4 mx-auto'}})}}
		{{form_row(formArticle.title, {'attr':{'placeholder':"Titre de l'article"}})}}
		{{form_row(formArticle.category)}}

		{{form_row(formArticle.content, {'attr':{'placeholder':"Contenu de l'article", "rows": 15}})}}
		{{form_row(formArticle.image,{'attr':{'placeholder':"URL de l'image"}})}}

		

		<button type="submit" class="btn btn-primary">Enregister l'article</button>
	{{form_end(formArticle)}}

{% endblock %}
