{% extends "base.html.twig" %}

{% block title %}MonBlog Symfony | GESTION DES ARTICLES
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-4">GESTION DES CATEGORIES</h1>
	<h1 class="display-4 text-center my-4">
		Back-Office | Gestion des catégories
		<small>
			<a href="{{path ('admin_new_category')}}" class="btn btn-dark btn-sm">
				Nouvel catégorie
			</a>
		</small>
	</h1>
	{% for label, messages in app.flashes(['danger', 'success']) %}
		{% for message in messages %}
			
			<div class="bg-{{label}} text-white text-center col-md-4 mx-auto rounded p-3">
				{{ message }}
			</div>
			<br>
	{% endfor %}
	{% endfor %}

	{
	<table class="table table-bordered text-center">
		<tr>
			{% for data in colonnes %}
				{% if data == 'createdAt' %}
					<th>DATE</th>

				{% else %}

					<th>{{ data|upper }}</th>
				{% endif %}

			{% endfor %}
			<th>EDIT</th>
			<th>SUPPR</th>


		</tr>
		{% for data in category %}
			<tr>
				<td class="align-middle">{{data.id}}</td>
				<td class="align-middle">{{data.title}}</td>
				<td class="align-middle">{{data.description}}</td>
				<td class="align-middle">
					<a href="{{path ('admin_edit_category',{'id': data.id}) }}" class="btn btn-dark">
						<i class="fas fa-edit fa-1x"></i>
					</td>
				</td>
				<td class="align-middle">
					<a href="{{ path('admin_delete_category', {'id': data.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez vous vraiment supprimé cette catégories ?'))">
						<i class="fas fa-trash fa-1x"></i>
					</td>
				</td>
			</tr>

		{% endfor %}

	</table>


{% endblock %}
