{% extends 'base.html.twig' %}

{% block title %}Mon Blog Symfony | Liste des articles
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-4">
		Musique Maestro ! Elle accompagne notre vie, souligne nos souvenirs, s'invite dans notre intimité..
	</h1>

	<div class="row">
	{% for data in articles %}
		
	
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<img src="{{ data.image }}">
				<div class="card-body">
				<h5 class="card-text">{{data.title}}</h5>
					<p class="card-text">{{data.content|striptags |slice(0, 25) }} ...</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<a href="{{path ('blog_show',{'id':data.id})}}" alt"" class="btn btn-dark">Voir plus</a>
						</div>
						<small class="text-muted"> Post le : {{ data.createdAt|date('d/m/y') }} à {{ data.createdAt|date('H:i:s') }}</small>
					</div>
				</div>
			</div>
		</div>
{% endfor %}
		</div>

{% endblock %}
