{% extends "base.html.twig" %}
{% block title %}
	MonBlog Symfony
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-1">{{article.title}}</h1>


	<div class="col-md-12">
		<div class="card mb-4 shadow-sm">
			<img src="{{article.image|replace ({'200/300':'1000/300'})}}">
			<br>
			<h5 class="text-center">
				<i>{{article.title}}</i>
			</h5>
			<div class="card-body">
				<p class="card-text">{{article.content|raw}}</p>
				<br>
				<hr class="">
				<small class="text-muted ml-2 mb-2">
					Publié le :
					{{ article.createdAt|date('d/m/y') }}
					à
					{{ article.createdAt|date('H:i:s') }}
				</small>
				<small><a href="{{path('blog_edit', {'id':article.id})}}" class="btn btn-dark ml-2 mb-2">EDIT</a></small>
			</div>
		</div>
	</div>


{% endblock %}
